{% from 'usage_texts_macros.html' import gyrofrequency_usage %}

{% extends "base.html" %}

{% block content %}

{% include "includes/nav.html" %}

<div class="container mx-auto my-4">

    <div class="text-center">
        <h4 class="calculate-head">Gyrofrequency</h4>
    </div>
</div>
<div class="container">
    {{ gyrofrequency_usage() }}
</div>
<div class="py-5 container mx-auto text-center">
    <form id="calc-form" class="align-items-center" action="/gyrofrequency" method="POST">
        <div class="p-1 form-group row">
            <div class="col">
                <div class="row">
                    <div class="col-md-3">
                        <label class="labels" for="mf_mag">B:</label>
                    </div>
                    <div class="col">
                        <input type="text" placeholder="Mag. field" class="form-control" name="mf_mag" />
                    </div>
                    <div class="col">
                        <select class="form-control" name="unitsB">
                            <option value="select">Unit:</option>
                            <option value="T">T</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="row">
                    <div class="col-md-3">
                        <label class="labels" for="z">Z:</label>
                    </div>
                    <div class="col">
                        <input type="text" placeholder="Avg Ionization" class="form-control" name="z" />
                    </div>
                    <div class="col">
                        <select class="form-control" name="unitsZ">
                            <option value="select">Unit:</option>
                            <option value="kg">kg</option>
                            <option value="g">gram</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="p-1 form-group row">
            <div class="col">
                <div class="row">
                    <div class="col-md-3">
                        <label class="labels" for="particle">Particle:</label>
                    </div>
                    <div class="ml-1 col">
                        <select class="form-control" name="particle">
                            <!-- <option value="select">Particle</option> -->
                            <option value="p+">proton (p+)</option>
                            <option value="e-">electron (e-)</option>
                            <option value="neutron">neutron</option>
                            <option value="deuteron">deuteron (D)</option>
                            <option value="T+">triton (T+)</option>
                            <option value="positron">positron</option>
                        </select>
                    </div>

                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col-md-3">
                        <label class="labels" for="signed">Signed:</label>
                    </div>
                    <div class="ml-1">
                        <select class="form-control" name="signed">
                            <option value="False">false</option>
                            <option value="True">true</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="p-1 form-group row">
            <div class="col">
                <div class="row">
                    <div class="col-md-3">
                        <label class="labels" for="to_hz">to_hz:</label>
                    </div>
                    <div class="col">
                        <select class="form-control" name="to_hz">
                            <option value="False">false</option>
                            <option value="True">true</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col">

            </div>
        </div>
        <div class="py-2">
            <input type="submit" value="Calculate" id="calc_btn" class="btn btn-success" />
            <input type="reset" value="Reset" id="reset_btn" class="btn btn-secondary" />
            <br />
            <div class="alert">
                {{ sum }}
            </div>
        </div>
    </form>
</div>


{% endblock %}