<style>
    * {
        box-sizing: border-box;
    }

    *:before,
    *:after {
        box-sizing: border-box;
    }

    html,
    body {
        font-family: Arial, Helvetica, sans-serif;
    }

    .calculate-head {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-weight: 200;
    }

    .usage-text {
        padding: 20px;
        padding-bottom: 5px;
        background-color: rgb(235, 236, 241);
        border-radius: 15px;
        font-family: Calibri, 'Trebuchet MS', sans-serif;
        font-size: 11pt;
    }

    .req-param {
        font-weight: bold;
        color: red;
    }

    .opt-param {
        font-weight: bold;
        font-size: 12pt;
    }

    .signature {
        font-weight: bold;
        color: blue;
    }

    .labels {
        font-weight: lighter;
        font-size: 14pt;
        font-family: 'Times New Roman', Times, serif;
    }

    .alert {
        background: rgb(208, 240, 192);
        padding-top: 2rem;
        padding-bottom: 1rem;
        border-radius: 5px;
        margin: 1rem;
        color: rgb(88, 88, 88);
    }
</style>